@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.avatar {
    border-radius: 50%;
}

.avatar-small {
    width: 3rem;
    height: 3rem;
}

.avatar-medium {
    width: 6rem;
    height: 6rem;
}

.avatar-large {
    width: 10rem;
    height: 10rem;
}

.avatar-container {
    max-width: max-content;
    margin: auto;
    padding: 3rem;
}