@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.grids-container {
    max-width: 500px;
    margin: auto;
}

.grid {
    display: grid;
    gap: 2rem;
    margin: 2rem;
}

.two-items {
    grid-template-columns: 50% 50%;
}

.three-items {
    grid-template-columns: 33% 33% 33%;
}

.grid-child {
    width: 50%;
    padding: 2rem;
    background-color: aqua;
}