@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.input-container {
    max-width: 70%;
    margin: auto;
}

.input-textbox {
    width: 80%;
    margin: auto;
    padding: 5px;
}

.input-textbox-with-validation {
    border: 2px solid red;
    width: 80%;
    margin: auto;
    padding: 5px;
}

.error-style {
    background-color: red;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.sourcecode {
    margin: 2rem;
}