<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link href="/CSS/button.css" rel="stylesheet" type="text/css" />
    <link href="/CSS/nav.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Assets/Images/favicon.png">
</head>

<body>
    <div class="container">
        <div class="header child">
            <div class="hero-header">
                <p class="brand-name">Spazeir UI</p>
                <p><a class="main-nav" href="/index.html">Home</a></p>
                <p><a class="main-nav active-tab" href="/Components/Alert/alert.html">Docs</a></p>
                <a class="git" href="https://github.com/saicharan-gouru/Spazeir-UI"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <div class="aside child">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/Components/Avatar/avatar.html">Avatar</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Badge/badge.html">Badge</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Alert/alert.html">Alert</a></li>
                <li class="nav-item"><a class="nav-link active" href="/Components/Button/button.html">Button</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Card/card.html">Card</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Image/image.html">Image</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Input/input.html">Input</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Modal/modal.html">Modal</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Lists/lists.html">Lists</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Rating/rating.html">Rating</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/TextUtilities/text-utilities.html">Text Utilities</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/SimplifiedGrid/simplified-grid.html">Simplified Grid</a></li>
            </ul>
        </div>
        <div class="main child">
            <h1>
                <center><u>Button Component</u></center>
            </h1>
            <div class="button-container">
                <h2>Primary buttons</h2>
                <button class="button primary-blue">Home</button>
                <button class="button primary-yellow">Home</button>
                <button class="button primary-green">Home</button>
                <button class="button primary-red">Home</button>

                <iframe class="source-code" src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520primary-blue%2522%253EHome%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-yellow%2522%253EHome%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-green%2522%253EHome%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-red%2522%253EHome%253C%252Fbutton%253E"
                    style="width: 580px; height: 380px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
        </iframe>

                <h2>Link buttons</h2>
                <button class="button link-blue">Click</button>
                <button class="button link-yellow">Click</button>
                <button class="button link-green">Click</button>
                <button class="button link-red">Click</button>

                <iframe class="source-code" src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520link-blue%2522%253EClick%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520link-yellow%2522%253EClick%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520link-green%2522%253EClick%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520link-red%2522%253EClick%253C%252Fbutton%253E"
                    style="width: 580px; height: 380px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
        </iframe>

                <h2>Icon buttons</h2>
                <button class="button icon">
            <i class="fas fa-share"></i>
        </button>
                <button class="button icon">
            <i class="fas fa-address-book"></i>
        </button>

                <iframe class="source-code" src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=600&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522button%2520icon%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-share%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522button%2520icon%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-address-book%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fbutton%253E%250A"
                    style="width: 600px; height: 380px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
        </iframe>

                <h2>Floating action button</h2>
                <button class="button floating-action primary-blue">+</button>
                <button class="button floating-action primary-green">+</button>
                <button class="button floating-action primary-yellow">+</button>
                <button class="button floating-action primary-red">+</button>

                <iframe class="source-code" src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=592.5&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520floating-action%2520primary-blue%2522%253E%252B%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522button%2520floating-action%2520primary-green%2522%253E%252B%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522button%2520floating-action%2520primary-yellow%2522%253E%252B%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522button%2520floating-action%2520primary-red%2522%253E%252B%253C%252Fbutton%253E"
                    style="width: 600px; height: 375px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
        </div>

        <div class="footer child">
            <div class="hero-footer">
                <div class="social">
                    <a href="https://www.linkedin.com/in/saicharangouru/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/saicharangouru" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/saicharan-gouru/" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                </div>
                <p>Made with 💖 by <a class="profile" href="https://saicharangouru.netlify.app" target="_blank" rel="noopener noreferrer">Saicharan Gouru</a></p>
                <small>ⓒ Spazeir UI | 2022</small>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/bbba0f11e7.js " crossorigin="anonymous "></script>
</body>

</html>