<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link href="/CSS/badge.css" rel="stylesheet" type="text/css" />
    <link href="/CSS/nav.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Assets/Images/favicon.png">
</head>

<body>
    <div class="container">
        <div class="header child">
            <div class="hero-header">
                <p class="brand-name">Spazeir UI</p>
                <p><a class="main-nav" href="/index.html">Home</a></p>
                <p><a class="main-nav active-tab" href="/Components/Avatar/avatar.html">Docs</a></p>
                <a class="git" href="https://github.com/saicharan-gouru/Spazeir-UI"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <div class="aside child">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/Components/Avatar/avatar.html">Avatar</a></li>
                <li class="nav-item"><a class="nav-link active" href="/Components/Badge/badge.html">Badge</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Alert/alert.html">Alert</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Button/button.html">Button</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Card/card.html">Card</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Image/image.html">Image</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Input/input.html">Input</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Modal/modal.html">Modal</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Lists/lists.html">Lists</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/Rating/rating.html">Rating</a></li>
                <li class="nav-item"><a class="nav-link" href="/Components/TextUtilities/text-utilities.html">Text Utilities</a></li>
            </ul>
        </div>
        <div class="main child">
            <h1>
                <u>
                    <center>Badge Component</center>
                </u>
            </h1>
            <div class="badge-container">
                <p class="text">Text with badge<span class="badge badge-on-text">4</span></p>

                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text1%2522%253EText%2520with%2520badge%2520%250A%2520%2520%253Cspan%2520class%253D%2522badge-on-text%2522%253E4%253C%252Fspan%253E%250A%253C%252Fp%253E"
                    style="width: 470px; height: 242px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>

                <p class="text">Text with large badge<span class="badge large-badge-on-text">12</span></p>

                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text2%2522%253EText%2520with%2520large%2520badge%250A%2520%2520%253Cspan%2520class%253D%2522large-badge-on-text%2522%253E12%253C%252Fspan%253E%250A%253C%252Fp%253E"
                    style="width: 470px; height: 242px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>

                <p class="text">Button with a badge on the left</p>
                <button class="button1">Click</button>
                <p class="badge badge-on-button">8</p>

                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button1%2522%253EClick%253C%252Fbutton%253E%250A%253Cp%2520class%253D%2522badge-on-button%2522%253E8%253C%252Fp%253E"
                    style="width: 470px; height: 242px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>

                <P class="text">Icon with a badge</P>
                <i class="fas fa-address-card"></i>
                <p class="badge badge-on-icon">8</p>

                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253CP%2520class%253D%2522text%2522%253EIcon%2520with%2520a%2520badge%253C%252FP%253E%250A%253Ci%2520class%253D%2522fas%2520fa-address-card%2522%253E%253C%252Fi%253E%250A%253Cp%2520class%253D%2522badge-on-icon%2522%253E8%253C%252Fp%253E"
                    style="width: 462px; height: 242px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>

                <p class="text">Badge on avatar</p>
                <img class="avatar" src="profile.jpeg">
                <p class="badge badge-on-avatar">9</p>

                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522profile.jpeg%2522%253E%250A%2520%253Cp%2520class%253D%2522badge%2520badge-on-avatar%2522%253E9%253C%252Fp%253E"
                    style="width: 462px; height: 242px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
            </iframe>

                <script src="https://kit.fontawesome.com/bbba0f11e7.js " crossorigin="anonymous "></script>

            </div>
        </div>

        <div class="footer child">
            <div class="hero-footer">
                <div class="social">
                    <a href="https://www.linkedin.com/in/saicharangouru/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/saicharangouru" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/saicharan-gouru/" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                </div>
                <p>Made with 💖 by <a class="profile" href="https://saicharangouru.netlify.app" target="_blank" rel="noopener noreferrer">Saicharan Gouru</a></p>
                <small>ⓒ Spazeir UI | 2022</small>
            </div>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/bbba0f11e7.js " crossorigin="anonymous "></script>
</body>

</html>